body {
    font-family: 'Verala Round', sans-serif;
    font-family: 16px;
}

h1 {
    color: #3c4954;
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}

p {
    color: #a4b0b9;
    line-height: 200%;
}

* {
    box-sizing: border-box;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 20px
}

.form-div {
    margin-top: 100px;
}

.input-label {
    background: #009688;
    color: #fff;
    padding: 30px;
    transition: 0.3s;
}
.input-label:hover {
    background: #26a69a;
    cursor: pointer;
}

.fa {
    margin-right: 10px;
}


#file {
display: none;
}